

{%- assign block_settings = block.settings -%}

<div
  class="blog-post-card"
  style="--text-align: {{ block_settings.alignment }}"
>
  {% if article.image %}
    {% content_for 'block', id: 'image', type: '_blog-post-image', article: article %}
  {% endif %}

  <div class="blog-post-card__content">
    <a
      href="{{ article.url }}"
      data-testid="blog-post-link"
    >
      {%- content_for 'block', id: 'heading', type: '_heading', text: article.title -%}
    </a>

    {% content_for 'block',
      id: 'blog-post-details',
      type: '_blog-post-info-text',
      alignment: block_settings.alignment,
      article: article
    %}

    {% content_for 'block', id: 'content', type: '_blog-post-description', article: article, show_read_more: true %}
  </div>
</div>

{% stylesheet %}
  .blog-post-card {
    display: flex;
    flex-direction: column;
    text-align: var(--text-align);
    column-gap: var(--columns-gap);
    height: 100%;
  }

  .blog-post-card__content {
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .blog-post-card__content a {
    display: block;
    text-wrap: pretty;
    text-decoration: none;
    padding-block-start: 0;
    margin-bottom: 0.5rem;
    color: var(--card-title-color);
  }

  .blog-post-card__content a:hover {
    opacity: 0.8;
  }

  .blog-post-item .blog-post-card__image-container,
  .blog-post-item .blog-post-card__content {
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_post",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}
